
<% include  ../partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome To YelpAttraction!</h1>
            <p>View our hand-picked attractions from all over the world</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/attractions/new">Add New Attraction</a>
            </p>
        </div>
    </header>


    <div class="row text-center" style="display:flex; flex-wrap:wrap;">
        <% attractions.forEach(function(attraction){ %>
        <div class="col-md-3 col-sm-6">
            <div class=thumbnail>
                <img src="<%= attraction.image %>">
                <div class="caption">
                    <h4><%= attraction.name %></h4>
                </div>
                <p>
                    <a href="/attractions/<%= attraction._id %>" class="btn btn-primary">More Info</a>
                </p>
            </div>
            
        </div>
        <% }); %>
    </div>
</div>

<% include  ../partials/footer %>